#root {
  max-width: 100vw;
  padding: 2rem;

  font-size: 1.4rem;
  text-align: center;
  color: #333;
  background-color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  color: #5e5c5c;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.loadingLogo {
  max-width: 10rem;
  animation: loadingLogoGlow 600ms infinite;
}

@keyframes loadingLogoGlow {
  0%,
  100% {
    filter: drop-shadow(0 0 10px rgb(126, 225, 255));
  }
  50% {
    filter: drop-shadow(0 0 30px rgb(126, 225, 255));
  }
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.title {
  margin-left: 8rem;
  margin-right: 10rem;
}

.logo {
  display: flex;
  align-items: center;
  padding: 1.5em;
  transition: filter 300ms;
  cursor: pointer;
}
.logo:hover {
  filter: drop-shadow(0 0 10px #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logoImg {
  max-width: 10rem;
}

.local {
  color: rgb(126, 225, 255);
}

.travel {
  color: rgb(218, 178, 49);
}
/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.search-form {
  align-self: center;
  border-radius: 2rem;
  padding: 10px;
  transition: 0.8s;
  box-shadow: 0 0 15px hsla(0, 0%, 100%, 0.725);
}

.search-form:hover input {
  width: 20rem;
}

.search-form input {
  border: none;
  background: transparent;
  font-size: 1rem;
  outline: none;
  width: 0rem;
  color: black;
  border-radius: 2rem;
  padding: 10px 20px;

  &::placeholder {
    text-align: center;
    letter-spacing: 2px;
  }

  &:focus {
    width: 20rem;
    border: 1px solid black;
    border-color: rgb(126, 225, 255);
  }

  &:hover {
    width: 20rem;
    border: 1px solid black;
    border-color: rgb(126, 225, 255);
  }
}

.search-form button {
  border-color: transparent;
  border-radius: 2rem;
  font-weight: 600;
  background-color: transparent;
  color: rgb(218, 178, 49);
  cursor: pointer;
  transition: border-color 0.25s;
  padding: 10px 20px;

  &:hover {
    border-color: rgb(126, 225, 255);
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.genContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  background-color: #f7f9fc;
  border-radius: 5px;
  justify-content: space-between;
}

.transportCont,
.localCont,
.trafficCont {
  border-radius: 5px;
  flex: 1 1 30%;
  margin: 5px;
  padding: 1rem;
}

.transportCont {
  flex-grow: 15;
}

/* Mobile Responsive Layout */
@media (max-width: 768px) {
  #root {
    overflow-x: hidden;
    padding: 1rem;
    font-size: 1.2rem;
  }

  .header {
    flex-direction: column; /* Stack logo and title */
    align-items: center;
    gap: 1rem; /* Space between logo and title */
  }

  .search-form:hover input {
    width: 80%;
  }

  .search-form input {
    &:focus {
      width: 80%;
    }

    &:hover {
      width: 80%;
    }
  }

  .genContainer {
    width: fit-content;
  }

  .transportCont,
  .localCont,
  .trafficCont {
    width: 100%;
    margin: 0.5rem 0;
  }

  .trafficCont {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .title {
    margin: 0;
  }

  h1 {
    font-size: 2.2em;
  }
}