.departures {
  margin: 0 15px 15px;
}

.departures table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 14px;
  border-radius: 10px;
  border: 2px solid #ddd;
  overflow: hidden;
  color: black;
}

@media screen and (max-width: 768px) {
  .departures table {
    font-size: 12px;
  }
}

.departures table td,
.departures table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.departures table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.departures table th {
  text-align: left;
  background-color: #6fa2f6;
  color: white;
}
