.traffic {
  margin: 0 15px 15px;
}

.traffic-table {
  width: 100%;
  margin: 20px 0;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 14px;
  border-radius: 10px;
  border: 2px solid #ddd;
  overflow: hidden;
}

.traffic-table th,
.traffic-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.traffic-table th {
  background-color: #6fa2f6;
  color: white;
}

.traffic-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.traffic-table tr:hover {
  background-color: #ddd;
}

.traffic-table td {
  font-size: 16px;
}

@media (max-width: 600px) {
  .traffic-table td {
    font-size: 12px;
  }
}
